*,*::before,*::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}
body {
padding: 0;
margin: 0;
background: gray;
}
.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100hv;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.grid-container > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.grid-container >button:hover{
    background-color: rgba(255, 255, 255, .9);
}
.spantwo{
    grid-column: span 2;
}
#displayOutput{
    grid-column: 1 / -1;
    background-color: rgba(204, 203, 203, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
h1{
    text-align: center;
}
